<body class="text-center">

    <main class="form-signin">
        <form [formGroup]="loginForm">
            <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
                <label for="floatingInput">Email Adresi</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Şifre">
                <label for="floatingPassword">Şifre</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Beni Hatırla
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" (click)="login()">Giriş Yap</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
</body>